<!DOCTYPE html>
<html>

<head>
    <title>wsMath home page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px;
            padding-top: 60px;
            margin-left: 20px;
        }
    </style>
</head>

<body> 
        <header>
                <!-- Fixed navbar -->
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <a class="navbar-brand" href="/mnova"> wsMath home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                                                 
                        </ul>                     
                    </div>
                    <div class="">
                        <ul class="navbar-nav">
                            <li>
                                    <a href="/wsmath/e">My sheets</a>
                            </li>                            
                        </ul>
                    </div>
                </nav>
            </header>
 
      <div class="container">
          <div class="row">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nivell</th>
                        <th>Títol</th>
                        <th>Autor</th>
                        <th>Data</th>
                        <th>Descàrregues</th>
                    </tr>
                </thead>
                <tbody>
                    <% templates.forEach( t => { %>
                        <tr>
                            <td><%=t.level%></td>
                            <td><%=t.json.title%></td>
                            <td><%=t.fullname%></td>
                            <td><%=formatDate(t.created)%></td>
                            <td>
                                <a href="/wsmath/g/<%=t.uid%>?type=html&includeKeys=1" target="_blank">HTML</a>
                                <a href="/wsmath/g/<%=t.uid%>?type=pdf&includeKeys=1" target="_blank">PDF</a>
                                <a href="/wsmath/g/<%=t.uid%>?type=latex&includeKeys=1" target="_blank">LaTeX</a>
                                <a href="/wsmath/g/<%=t.uid%>?type=odt&includeKeys=1" target="_blank">ODT</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

          </div>
      </div>
</body>

</html>